.sidebar__section{
   
    position:fixed;
    top:3.95em;
    left:0;
    z-index: 2;

    max-height: calc(100vh - 63px);
    height: 100%;
    max-width: 250px;
    width: 100%;
    //border: 2px solid #ff0000;
    border: 1px solid #9b9595 ;
    border-left: 0;
    border-bottom: 0;



    .filter-side{
        transition: .4s all ease-in;
        transform: translateX(-30em);
        visibility: hidden;
        position: absolute;
        top:0;
        z-index: 7;
    }

    .show-filter{
        transition: .4s all ease-in;
        visibility: visible;
        position: absolute;
        top:0;
        z-index: 7;
        
        transform: translateX(0em);
    }

    .nav-item {
        
        line-height: 15px;
        display: flex;
        border-radius: 10px;
       


        &:hover{
            background: rgba(0, 0, 0,.5);           
        }

    }

    .footer{
        position: absolute;
        bottom: 0;
    }

  
}




/****MEDIA QUERY****/

@media screen and (max-width : 1026px) {
    .sidebar__section {

        position:fixed;
        top:0;
        left:0;
        z-index: 5;
        max-height: 100vh;
        height: 100%;
        background: #0c0c0c;

        header h5{
           font-size: 17px;
        }


        .discover ul li{
            margin-top: 5px;

            &:nth-child(4){
                display: none;
            }
            
        }
        .Manage ul li{
            margin-top: 5px;

            &:nth-child(1){
                display: none;
            }
            &:nth-child(3){
                display: none;
            }
            
        }

        .separator, .discover h5, .Manage h5{
            display: none;
        }
      
    }
}