.page{


   box-sizing: border-box;
   
    margin-left: 250px;
   
    max-height: 100vh;

  /*  .page-container {
      background: #000!important;
      height: 100%;
      max-height: 100vh;
    }*/
}


/******media query*****/

@media screen and (max-width: 1090px) {
  .page{
    margin: 0;
  }
  .sidebar{
    display: none;
  }
}
